body {
    font-family: Arial, sans-serif;
  }
  .form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .form-header {
    background-color: #ffff99;
    color: red;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  table {
    width: 100%;
    border-spacing: 10px; 
}
  td, th {
    border: 1px solid #000;
    padding: 10px;
    background-color: #3498db;
}
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  .checkbox-group,
  .radio-group {
    display: flex;
    justify-content: space-between;
  }
  button {
    background-color:gray;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  button:hover {
    background-color: gray;
  }